body {
  display: flex;
  flex-direction: column;

/*  #00ff00;  <--hex code for terminal green*/
/*  #FF4F00; <--hex code for international orange non bridge        */
}

header {
  font-family: 'Oswald', sans-serif;
  line-height: 20px;
  height: 15vh;
  text-align: center;
  background-color: #100C6D;
  color: #EAD916;
}


header:hover {
  bac
}


#titleBar {
  text-align: center;
  padding: 20px;
  line-height: 20px;
  height: 10vh;
}

#titleBar:hover {

}

#master_blaster_flex {
  height: 900px;
}
